    <table class="case-list-wrap table table-striped">
        <thead class="caption-wrap head">
        <tr>
            <th>#</th>
            <th class="col-name">Case Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Execute</th>
            <th class="col-log">Log</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody class="tbody">
        {{#each caseList}}
            <tr class="">
                <td>{{case_id}}</td>
                <td><a href="index.php?page=caseDetail&id={{case_id}}">{{title}}</a></td>
                <td >{{content}}</td>
                <td><a href="{{urlEdit}}" class="btn-edit glyphicon glyphicon-pencil"></a></td>
                <td><a href="{{urlCaseRun}}" target="_blank" class="btn btn-default">Run</a></td>
                <td>
                {{#if reportId}}
                    <a href="{{urlLastReport}}" target="_blank" >
                    {{#if isPass}}
                        <span class="glyphicon glyphicon-ok green-light"></span>
                    {{/if}}
                    {{#if isPassSome}}
                        <span class="glyphicon glyphicon-warning-sign yellow-light"></span>
                    {{/if}}

                    {{#if isFail}}
                        <span class="glyphicon glyphicon-remove red-light"></span>
                    {{/if}}
                    Log</a>
                {{/if}}
                </td>
                <td><a href="{{urlDelete}}" class="btn-delete glyphicon glyphicon-remove" data-name="{{title}}"></a></td>

            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="page-wrap">
        {{> /../../common/pages/pages.hb.html}}
    </div>
