/******* common ******/
body {
    font-size:14px;
    font-family: 'Open Sans', '微軟正黑體';
}
.wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 0; 
}

.top-wrap {
    background: #FaFaFa;
    border-bottom: 1px solid #DDD;
    margin: 0px 0 20px 0;
}

.top-wrap > div {
    width: 97%;
    padding: 10px 3% 0 3%;

}
.main-wrap {
    width: 97%;
    padding: 0 3%;
}
.bottom-wrap {
    width: 100%;
    background: #F9F9F9;
    margin: 30px 0 0 0;
    border-top: 1px solid #F5F5F5;
}

.footer {
    width: 97%;
    padding: 20px 3%;
}
.box {
    border: 2px solid #EEE;
    margin-bottom: 28px;
}

.box .header {
    background: #eee;
    padding: 10px;
    color: #333;
    border: none;
}

.header {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.nav li:before {
    content: "";
    display: none !important;
}

ul {
    padding-left: 30px;
}
li {
    list-style-type: circle;
}

//li:before {
//    font-family: 'Glyphicons Halflings';
//    -webkit-font-smoothing: antialiased;
//    font-style: normal;
//    font-weight: normal;
//    line-height: 1;
//    content: "\e124";
//    font-size: 9px;
//    margin-left: -10px;
//    margin-right: 10px;
//}


/**********case ***********/

.top-wrap .nav-tabs {
    border: 0px;
}

.case-wrap {
    text-align: right;
    margin: 5px 0 10px 0; 
}

.case-wrap .search-form {
    float: left;
    width: 220px;
}
.case-wrap .form-group {
    width: 100%;
    padding-left: 30px;
    letter-spacing: 0px;
}
.case-wrap .search-form input {
    margin-left: -30px;
    width: 100%;
}

.case-wrap .search-form .glyphicon-search {
    display: inline-block;
    width: 30px;
}

.case-table-wrap .table {
    margin-bottom: 0;
}

.case-list-wrap .col-name {
    width: 250px;
}

.case-list-wrap .col-log {
    width: 70px;
    text-align: center;
}

/******* case deatil ******/
.case-deatail-wrap .btn-test {
    float: right;
    margin-top: 8px;
   
} 
.case-deatail-wrap .panel-heading:after {
    content: "  ";
    clear: both;
}
.case-deatail-wrap .title-wrap {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0px;
}
.case-deatail-wrap .title {
    display: inline-block;
    vertical-align: top; 
    height: 100%;
    padding-top: 12px;
    font-size: 18px;
}

.case-deatail-wrap .description {
    white-space: pre;
    margin: 0 0 30px 0;
    padding-top: 10px;
    line-height: 22px;
}
.case-deatail-wrap .category  {
    margin: 0 0 20px 0;
}

.case-deatail-wrap .category ol {
    list-style-image: none;
    padding-left: 5px;
    display: inline;
}
.case-deatail-wrap .category .cate {
    display: inline-block;
    
}
.case-deatail-wrap .category .cate:before {
    font-family: 'arial';
    margin: 0px 3px 0 0;
    content: " / ";
    font-size: 12px;
}
.case-deatail-wrap .category .cate:nth-of-type(1):before {
    content: "";
}

.case-deatail-wrap .basic-info {
    border: 1px solid #eee;
    border-top: 0px;
    padding: 20px 15px 0 15px;
    margin: 0px 0 20px 0;
}
.case-deatail-wrap .panel-heading {
    font-weight: bold;
}
/**********/
.hint {
    color: #999;
    font-weight: normal;
    font-size: 14px;
}

.page-wrap {

    border-top: 1px solid #DDD;
    text-align: center;
}
.setting-wrap {
    min-height: 300px;
}
.controller-wrap .header:before {
    content: " ";
    padding-left: 30px;
    border-right: 1px solid white;
    height: 41px;
    margin-top: -12px;
    position: absolute;
}
.controller-wrap .btn-add{
    float: right;
    width: 30px;
}
.controller-wrap li{
    cursor: pointer;
}
.controller-wrap .search-controller {
    padding-left: 30px;
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.controller-wrap .search-controller input{
    width: 100%;
    margin-left: -30px;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.controller-wrap .search-controller a{
    padding: 8px 0 0 5px;
    width: 25px;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.controller-wrap ul {
    padding-top: 15px;
    padding-bottom: 10px;
}
.controller-wrap .glyphicon-list {
    margin-right: 20px;
}
.controller-wrap .glyphicon-list:before{
    font-size: 13px;
}
.controller-wrap .header span {
    padding-left: 2px;
}

.controller-object-wrap {
    padding: 0 0 0 20px;
}
.desc-controller {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.desc-controller .content {
    padding: 20px 10px;
}

.desc-controller .content .value-node{
    padding: 0px 20px;
}


.desc-controller .title-bar {
    background: #f2f2f2;
    padding: 10px; 
    font-weight: bold;
    height: 55px;
}

.desc-controller .title-bar .name {
    cursor: move;
    padding-top: 6px;
    min-width: 300px;
    min-height: 50px;
}

.desc-controller .form-group{
/*    padding: 10px;*/
}
.mod-advance .panel-default {
    margin-top: 0px;
}

.mod-advance .main-wrap {
    padding: 0px 0 30px 0;
}

.case-form {
    padding: 10px 10px;
    border: 1px solid #ddd;
    margin: 0 0 20px 0;
}

.setting-wrap .input-wrap{
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    border-style: solid;
    padding: 25px 10px 10px 0;
}

.setting-wrap .caption-value {
    padding: 7px 0 0 225px;
}
.setting-selected-wrap {
    position:absolute;
    right: 0;
    text-align: right;
    margin-bottom: 10px;
    width: 550px;
    padding: 10px 6% 0 3%;
    zoom: 1;
}
.setting-selected-wrap .form-setting {
    margin: 0 20px 0 0;
}

.setting-selected-wrap ~ul {
    clear: both;
}

.setting-selected-wrap .caption {
    margin-right: 8px;
}

.controller-object-wrap .btn-delete {
    margin-left: 15px;
}
.fl-right-end {
    float: right;
    width: 160px;
}

.red-light {
    color: #a00;
}

.green-light {
    color: #0a0;
}

.yellow-light {
    color: #FDC208;
}
.controller-object .help-block {
    padding: 5px 0px;
}

.multiple-option-selection select {
    color: #000;
    font-size: 18px;
    width: 300px;
    height: 300px;
}

.report-number {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-weight: bold;
}

.report-chart-wrap {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.module-report .img-chart {
    width: 350px;
    margin: 0 auto;
    display: block;
} 
