
.panel-heading {
    font-size: 15px;
    font-weight: bold;
}
.submit-wrap {
    margin-top: 10px;
}

button[type=submit] {
    text-align: right;
    float: right;
}
.clearfix {
    clear: both;
}
.table td {
    text-align: left;
}
.center {
    text-align: center;
}
.tab-wrap {
    margin: 0 0 15px 0;
}

.col-wrap {
    margin-left: 242px;
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
  
    *letter-spacing: normal;
    /* reset IE < 8 */
  
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
  
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.side {
    width: 200px;
    margin-left: -242px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    
}

.main {
    width: 100%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    border: 1px solid #dddddd;
}

.main-quote {
    background-color: #fdf7f7;
    padding: 10px;
    border-left: 3px solid #eee;

    border-color: #eed3d7;
}

.main-quote h4 {
    color: #b94a48;
}
