body {
    padding: 10px;
}
.screen-image-wrap {
    width: 600px;
}

.screen-image {
    height: 600px;
    max-width: 700px;
}

.no_level, .level_1, .level_2, .level_3, .level_4, .level_5, .level_6, .level_7, .level_8, .level_9,.level_10 {
    color: #031E88;
}
.level_error {
    color: #a00;
    font-size: 24px;
}
.level_1 {
    font-size: 13px;
    font-weight: bold;
}

.level_7 {
    font-size: 24px;
    font-weight: bold;
}

/*****controller end*******/
.level_5 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #999;

}

/*******controller start*********/
.level_10 {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #cecece;
    padding: 8px 10px;
    margin: 25px 10px;
    border-top: 2px solid #666;

}

pre {
    background-color: #fff !important;
}

/******MISC**********/
.passed-col {
    color: #0a0;
}

.failed-col {
    color: #a00;
}
.test-report {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    box-shadow: none;
    position: relative;
    padding: 10px 15px 15px;
    margin: 15px 15px 15px 0;
}

.test-report .glyphicon-warning-sign {
    color: #c00;
    margin-right: 10px;
}
.test-report .glyphicon-ok {
    color: #090;
    margin-right: 10px;
}
.test-report .title {
    margin: 10px 0 25px 0;
}

.test-report-table .expected-col, .test-report-table .actual-col {
    width: 220px;
}
.test-report-table .status-col {
    width: 50px;
}
.actual-value {
    overflow: auto;
    max-height: 150px;
    max-width: 300px;
}
.actual-log-value {
    overflow: auto;
    max-height: 250px;
}

/****bootstrap********/
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    box-shadow: none;
    position: relative;
    padding: 65px 15px 15px;
    margin: 15px 15px 15px 0;
}
.bs-example p {
    padding-left: 7px;
}
.bs-label:after {
    content: attr(data-label);
    position: absolute;
    top: 15px;
    left: 21px;
    font-size: 20px;
    font-weight: 700;
    color: #575656;
    letter-spacing: 1px;
}
.bs-controller {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #EEE;
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

