body {
    padding: 10px 10px 10px 30px;
}
.screen-image-wrap {
    width: 90%;
    height: 400px;
    margin: 10px 10% 20px 0;
    overflow: auto;
}

.screen-image {
    max-width: 100%;
}


.log-text {
    margin: 8px 0;
}

pre {
    background-color: #fff !important;
}

/**** Testing *******/
.test-expected-log-value, .test-actual-log-value {
    font-weight: bold;
    color: #a00;
}

.test-actual-log-title {
    display: inline-block;
    height: 50px;
    vertical-align: top;
}

.test-actual-log-value {
    display: inline-block;
    width: 70%;
    height: 50px;
    margin: 0 0 0 10px;
    vertical-align: top;
    overflow: auto;
}
/******MISC**********/
.hide-text {
    color: white;
}
.passed-col {
    color: #0a0;
}

.failed-col {
    color: #a00;
}
.test-report {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    box-shadow: none;
    position: relative;
    padding: 10px 15px 15px;
    margin: 15px 15px 15px 0;
}

.test-report .glyphicon-warning-sign {
    color: #c00;
    margin-right: 10px;
}
.test-report .glyphicon-ok {
    color: #090;
    margin-right: 10px;
}
.test-report .title {
    margin: 10px 0 25px 0;
}

.test-report-table .expected-col, .test-report-table .actual-col {
    width: 220px;
}
.test-report-table .status-col {
    width: 50px;
}
.actual-value {
    overflow: auto;
    max-height: 150px;
    max-width: 300px;
}
.actual-log-value {
    overflow: auto;
    max-height: 250px;
}

/****bootstrap********/
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    box-shadow: none;
    position: relative;
    padding: 65px 15px 15px;
    margin: 15px 15px 15px 0;
}
.bs-example p {
    padding-left: 7px;
}
.bs-label:after {
    content: attr(data-label);
    position: absolute;
    top: 15px;
    left: 21px;
    font-size: 20px;
    font-weight: 700;
    color: #575656;
    letter-spacing: 1px;
}
.bs-controller {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #EEE;
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

